.about{
  background-color: $type-dark;
  color: $type-light;
  .tech-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    svg{
      margin: 20px;
    }
  }
  .icon-label{
    width: 100%;
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
    margin-top: 5px;
  }
  .about-blurb{
  padding: 20px;
}
}
