.projects{
  margin-top: 10vh;
  padding: 0 2% 5% 2%;
  min-height: 550px;
  position: relative;
  .background-color-box{
    position: absolute;
    background-color: $brand-blue;
    right: 4vw;
    bottom: 20vh;
    width: 80%;
    height:60%;
  }

  .project-content{
    margin: 1vh 3vw;
  }
  .column{
    z-index: 1;
    margin: 0 2vw;
  }
  .mockup-area{
    min-height: 300px;
    padding-bottom: 100px;
  }
  .mockup-display{
    top: 25%;
    margin-right: -35px;

  }
  .description{
    margin-top: 110px;
    background-color: #f1f1f1;
    box-shadow: 14px 11px 27px -18px rgba(0,0,0,0.5);
    padding: 50px;
  }
  .blurb{
    min-height: 320px;
    p{
      margin: 10px 0;
    }
  }
  svg{
    margin: 10px 5px;
  }
  h5{
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 2px;
  }
  h1{
    margin: 0 0 40px 10px;
  }
  button{
    background: none;
    border: 1px solid $type-dark;
    border-radius: 1.5rem;
    padding: 5px 20px;
    margin-top: 20px;
    a{
      color: $type-dark;
      svg{
        margin: 0 5px -3px 0;
      }
    }
  }
  button:hover{
    border: 1px solid $brand-blue;
    background-color: $brand-blue;
    a{
      color: #ffffff;
    }
    svg{
      filter: brightness(1000%);
    }
  }
  .scroll-buttons{
    position: absolute;
    bottom:0;
  }
    h4{
    display: inline;
    padding: 5px 30px;
    font-size: 18px;
    font-family: $oswald;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  h4:hover{
    cursor: pointer;
  }
  .site-link{
    display: inline;
    margin-right: 10px;
    p{
      display: block;
      margin-bottom: 10px;
    }
  }

  @media only screen and (max-width: 768px){
    .background-color-box{
      display: none;
    }
    .mockup-display{
      margin-right: 0;
    }
  }
}