.projects{
  margin-top: 50px;
  padding-bottom: 5%;
  min-height: 550px;
  position: relative;
  svg{
    margin: 3px;
  }
  .scroll-buttons{
    position: absolute;
    bottom:0;
  }
    h3{
    display: inline;
    padding: 5px 30px;
  }
  h3:hover{
    cursor: pointer;
  }
  .site-link{
    display: inline;
    margin-right: 10px;
    p{
      display: block;
      margin-bottom: 10px;
    }
  }
}