
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&family=Oswald:wght@500&display=swap');
@import '../../node_modules/bulma/bulma.sass';

$oswald: 'Oswald', sans-serif;
$nunito: 'Nunito Sans', sans-serif;

$type-dark: #242323;
$type-light: #ffffff;
$brand-blue: #41b4d3;


@import 'about', 'projects', 'hero', 'mockup', 'contact', 'footer';

html {
  scroll-behavior: smooth;
  max-width: 1440px;
  margin: 0 auto;
}

h1{
  text-transform: uppercase;
  font-family: $oswald;
  font-size: 40px;
  letter-spacing: 14px
}

h2{
  font-family: $nunito;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0.88px
}

p{
  font-family: $nunito;
}

.blue-text{
  color: $brand-blue;
}